
{erl_opts, [debug_info]}.

{deps, []}.

%% Shell
{shell, [
  {config, "config/sys.config"},
  {apps, [librarink, librarink_websocket]}
]}.

%% Release
{relx, [{
  release, {librarink, "0.1.0"},
  [librarink, librarink_websocket, librarink_mnesiaDB, librarink_mqs, sasl]},
  {mode, prod},
  {include_erts, true}
]}.

{profiles, [{prod, [{relx, [{mode, prod}]}]}]}.

{profiles, [{docs, [{edoc_opts, [{dir, "doc_private"},{private,true}]}]}]}.

{plugins, [
  rebar3_run,
  {medoc, "1.0.0"}
]}.

