
{erl_opts, [debug_info]}.

{deps, []}.

%% Shell
{shell, [
  {apps, [librarink_proxy, librarink_mnesiaDB]}
]}.

%% Release
{relx, [{
  release, {librarink, "0.1.0"},
  [librarink, librarink_websocket, librarink_mnesiaDB, librarink_mqs, sasl]},
  {mode, prod},
  {include_erts, true}
]}.

%% Profiles
{profiles, [{prod, [{relx, [{mode, prod}]}]}]}.
{profiles, [{docs, [{edoc_opts, [{dir, "doc_private"},{private,true}]}]}]}.

%% Plugins
{plugins, [
  rebar3_run,
  {medoc, "1.0.0"}
]}.

