{erl_opts, [debug_info]}.
{deps, []}.

%% Shell
{shell, [
  {config, "config/sys.config"},
  {apps, [cowboy, websocket, librarink]}
]}.

%% Release
{relx, [{
  release, {librarink, "0.1.0"},
  [librarink, websocket, sasl]},
  {mode, prod},
  {include_erts, false}
]}.

{profiles, [{prod, [{relx, [{mode, prod}]}]}]}.

{plugins, [rebar3_run]}.
