% These parameters will be available at run-time for the specified application, use application:get_env/2 to retrieve
% the value
[
  {kernel, [
    {distributed, [{librarink_mnesiaDB, 3000, ['active@172.18.0.28', 'backup@172.18.0.28']}]},
    {sync_nodes_mandatory, ['active@172.18.0.28']},
    {sync_nodes_timeout, 10000}
  ]},
  {librarink_websocket, [{port, 5000},{timeout, 180000},{framesize, 1024}]},
  {librarink_mqs, [{host, "localhost"}]},
  {librarink_proxy, [
    {proxy_name, proxy},
    {mqs_host, "localhost"},
    {exchange_type, <<"fanout">>},
    {routing_key, <<"">>},
    {request_timeout, 30000},
    {mnesia_name, librarink_mnesiaDB},
    {mnesia_nodes, [{'active@172.18.0.28', 'backup@172.18.0.28'}]}
  ]},
  %Define Mnesia DB directory
  {mnesia, [{dir, "librarink_db_files_bak"}]},
  {librarink_mnesiaDB, [{active_nodes,['active@172.18.0.28']}, {backup_nodes,['backup@172.18.0.28']}]}
].
