% These parameters will be available at run-time for the specified application, use application:get_env/2 to retrieve
% the value
[
  {librarink, []},
  {librarink_websocket, [{port, 5000},{timeout, 180000},{framesize, 1024}]},
  {librarink_mqs, [{host, localhost}]},
  %Define Mnesia DB directory
  {mnesia, [{dir, "librarink_db_files"}]}
].
