% These parameters will be available at run-time for the specified application, use application:get_env/2 to retrieve
% the value
[
  {librarink_websocket, [{port, 5000},{timeout, 180000},{framesize, 1024}]},
  {librarink_mqs, [{host, "localhost"}]},
  {librarink_proxy, [
    {proxy_name, proxy},
    {mqs_host, "localhost"},
    {exchange_type, <<"fanout">>},
    {routing_key, <<"">>},
    {request_timeout, 30000},
    {mnesia_name, librarink_mnesiaDB},
    {mnesia_nodes, [{'active@DELL-8565U', 'backup@DELL-8565U'}]}
  ]},
  %Define Mnesia DB directory
  {mnesia, [{dir, "librarink_db_files"}]},
  {librarink_mnesiaDB, [{active_nodes,['active@DELL-8565U']}, {backup_nodes,[]}]}
].
