% These parameters will be available at run-time for the specified application, use application:get_env/2 to retrieve
% the value
[
  {librarink, []},
  {librarink_websocket, [{port, 5000},{timeout, 180000},{framesize, 1024}]},
  {librarink_mqs, [{host, "192.168.1.109"}]},
  {librarink_proxy, [
    {proxy_name, proxy},
    {mqs_host, "192.168.1.109"},
    {exchange_type, <<"fanout">>},
    {routing_key, <<"">>},
    {request_timeout, 30000},
    {mnesia_name, database},
    {mnesia_nodes, [{'librarink@AMD-FX4300', 'librarinkBackup@AMD-FX4300'}]}
  ]},
  %Define Mnesia DB directory
  {mnesia, [{dir, "librarink_db_files"}]},
  %todo add active and backup nodes
  {librarink_mnesiaDB, [{active_nodes,[]}, {backup_nodes,[]}]}
].
