#pagination-menu {
    display: flex;
    justify-content: center;
    margin-top: 2%;
}

#pagination-menu span{
    cursor: pointer;
}

#book-items a,
#book-items a:focus {
    color: black;
    text-decoration: none;
}
